table,
th,
td {	
	border: 1px solid #ddd;
	}
	
.menu {
	font:bold 1em "Verdana";
	}	
	
table {
	width: 60em;
	border-collapse: collapse;
	border-spacing: 0;
	font: 1em "Verdana";
	}
	
ul {
	}	
	
caption {
	font: bold 3em "Verdana";
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin: 2em 0;
	}
	
th,
td {
	text-align: left;
	padding: 1em;
	}
	
thead {
	background: #ccc;
	}
	
.circle {
	height: 1em; 
	width: 1em;
	padding: .5em;
	border: 1px solid #ddd;
	background: #ddd;
	border-radius: 50%;
	}
	
.color {
	width: 35%;
	}
	
#color-531 {
	background: #ff3399;
	}
	
#color-561 {
	background: #ff0066;
	}
	
#color-515 {
	background: #cc0000;
	}
	
#color-512 {
	background: #cc0000;
	}
	
#color-523 {
	background: #800000;
	}
	
#color-571 {
	background: #e60000;
	}
	
#color-504 {
	background: #cc0000;
	}
	
#color-503 {
	background: #ff3300;
	}

#color-505 {
	background: #ff471a;
	}
	
#color-588 {
	background: #ff3300;
	}
	
#color-628 {
	background: #ff6600;
	}
	
#color-619 {
	background: #ff751a;
	}
	
#color-618 {
	background: #ffbf00;
	}
	
#color-620 {
	background: #e6b800;
	}
	
#color-617 {
	background: #ffdb4d;
	}
	
#color-651 {
	background: #ffff1a;
	}
	
#color-627 {
	background: #ffff00;
	}
	
#color-635 {
	background: #ffff99;
	}
	
#color-663 {
	background: #cc9900;
	}
	
#color-338 {
	background: #99e600;
	}
	
#color-347 {
	background: #00cc00;
	}
	
#color-338 {
	background: #009900;
	}
	
#color-375 {
	background: #558000;
	}
	
#color-379 {
	background: #223300;
	}

#color-361 {
	background: #003325;
	}
	
#color-382{
	background: #339966;
	}
	
#color-142 {
	background: #000033;
	}
	
#color-135 {
	background: #000066;
	}
	
#color-137 {
	background: #000099;
	}
	
#color-110 {
	background: #000066;
	}
	
#color-123 {
	background: #000080;
	}
	
#color-112 {
	background: #0099cc;
	}
	
#color-128 {
	background: #80e5ff;
	}
	
#color-413 {
	background: #990099;
	}
	
#color-406 {
	background: #660066;
	}
	
#color-557 {
	background: #ff9999;
	}
	
#color-583 {
	background: #e63900;
	}
	
#color-667 {
	background: #ac7339;
	}
	
#color-221 {
	background: #663300;
	}
	
#color-223 {
	background: #331a00;
	}

#color-247 {
	background: #664400;
	}
	
#color-264 {
	background: #332200;
	}
	
#color-024 {
	background: #fff7e6;
	}
	
#color-001 {
	background: #ffffff;
	}
	
#color-009 {
	background: #ffffff;
	}
	
#color-003 {
	background: #ffffff;
	}
	
#color-007 {
	background: #ffffff;
	}
	
#color-065 {
	background: #29293d;
	}
	
#color-442 {
	background: #b1b1cd;
	}
	
#color-133 {
	background: #cce6ff;
	}
	
#color-034 {
	background: #000000;
	}
	
#color-035 {
	background: #000000;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	